/*
  importando a fonte que será usada
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/*
  Definindo variaveis de ambiente para facilitar
  a manutenção ou a troca de tema depois
*/
:root {
  --clr-light-green: #93ff97;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-light-gray: rgba(239, 235, 235, 0.933);
}

body {
  background-color: var(--clr-light-gray);
  font-family: "Poppins";
}

ul {
  padding: 0;
}

.bg-success {
  background: var(--clr-light-green) !important;
}

#check {
  display: none;
}

#icone {
  cursor: pointer;
  background: var(--clr-light-green) url("/public/images/menu1.svg") no-repeat
    center;
  transition: background 120ms steps(1) ease;
  padding: 1.5rem;
  margin: 0.5rem 1.5rem 0 0;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transition: all 256ms ease-in-out;
}

.barra {
  background-color: var(--clr-white);
  height: 100%;
  width: 15rem;
  position: fixed;
  top: 0;
  transition: all 0.256s linear;
  left: -15rem;
}

li {
  font-size: 12pt;
  transition: all 0.2s linear;
  color: var(--clr-white);
}

li:hover {
  background-color: var(--clr-light-green);
}

/* 
  1rem = 16px
  15.625rem = 250px
*/

li a {
  display: block;
  padding: 2.5rem 1.25rem;
  text-decoration: none;
  color: var(--clr-black);
  font-weight: bold;
}

li a:hover {
  color: var(--clr-black);
}

#check:checked ~ .barra {
  transform: translateX(15rem);
}

#check:checked ~ #icone {
  background-image: url("/public/images/menu2.svg");
}

#check:checked ~ #icone {
  margin-left: 15rem;
  transition: all 256ms ease-in-out;
}

/* Wender esta editando */

.grid {
  display: grid;
  place-items: center legacy;
  grid-auto-columns: 1fr;
  grid-template-areas: "l c r";
}

.left-side {
  grid-area: l;
}

.centered {
  grid-area: c;
}

.right-side {
  grid-area: r;
}

.centered,
.right-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dash-card {
  background-color: var(--clr-white);
  max-width: 20rem;
  border-radius: 1rem;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.5);
}

.dash-card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dash-card-content span.title {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.bottom-content {
  display: flex;
  justify-content: space-between;
  padding-inline: 0.5rem;
}

.bottom-content > span {
  margin-top: 0.5rem;
  margin-left: 4rem;
}
