table {
  /* overflow: hidden; */
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  background: #ffffff;
  text-align: left;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}

td,
th {
  padding: 0.5rem 2rem;
}

td,
th {
  border-bottom: 1px solid #000000;
}
