/* 
Adicionei esse código para a normalização das páginas, 
nada que vá atrapalhar o desenvolvimento.

qualquer duvida sintam-se livres para me perguntar
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --clr-light-green: #93ff97;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-light-gray: rgba(239, 235, 235, 0.933);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: var(--clr-light-gray);
  font-family: "Poppins";
}

ul {
  padding: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Classes Global */

.mt-10 {
  margin-top: 10rem;
}
.mt-15 {
  margin-top: 15rem;
}
.mt-20 {
  margin-top: 20rem;
}
.mt-25 {
  margin-top: 25rem;
}
.mt-30 {
  margin-top: 30rem;
}

.p-10 {
  padding-left: 40rem;
}
