header {
  position: sticky;
  top: 0;
}

.sidebar {
  background: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.7rem 0.5rem;
  margin-bottom: 2rem;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.barra {
  background-color: var(--clr-white);
  height: 100%;
  width: 15rem;
  position: fixed;
  top: 4.4rem;
  transition: all 0.256s linear;
  left: -15rem;
}

.transform {
  transform: translateX(15rem);
}

.icone {
  display: inline-block;
  cursor: pointer;
  background: var(--clr-light-green) url("/public/images/menu1.svg") no-repeat
    center;
  padding: 1.5rem;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transition: all 256ms ease-in-out;
}

.bg-icon-transform {
  background: var(--clr-light-green) url("/public/images/menu2.svg") no-repeat
    center;
}
.user-icon {
  border-radius: 50%;
  overflow: hidden;
}

.disabled_link {
  pointer-events: none;
}

li {
  font-size: 12pt;
  transition: all 0.2s linear;
  color: var(--clr-white);
}

li a,
li span {
  display: block;
  padding: 2.2rem 1.25rem;
  text-decoration: none;
  color: var(--clr-black);
  font-weight: bold;
}

li.brand a:hover,
li a span:hover {
  background: var(--clr-white) !important;
}

li a:hover {
  color: var(--clr-black);
  background-color: var(--clr-light-green);
}

.active {
  background-color: var(--clr-light-green);
}

@media (min-width: 56.25rem) {
  .sidebar {
    background: transparent;
    box-shadow: none;
  }

  .ml {
    margin-left: 16rem !important;
    transition: margin 256ms ease-in-out;
  }

  .barra {
    top: 0;
  }

  .user-icon {
    display: none;
  }
}
