h5 {
  font-size: 1.5rem;
  height: 15px;
}

table {
  border-collapse: separate;
  background: #ffffff;
  text-align: left;
  padding: 1rem;
  width: 100%;
}

td,
th {
  padding: 0.5rem 2rem;
}

.btn-primary {
  background: var(--clr-light-green) url("/public/images/icone-down.png")
    no-repeat center;
  border-radius: 45px;
  width: 45px;
  height: 45px;
  margin-left: 70%;
  margin-top: -40px;
  --bs-btn-hover-bg: var(--clr-light-green);
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-border-color: var(--clr-light-green);
}

.card-title {
  margin-top: 4px;
}

.grid-item:nth-child(1) {
  grid-column: 1 / span 3;
}

.grid-item:nth-child(2) {
  grid-column: 5 / span 7;
  grid-row: 2;
}
